.ChangeAlert-container{
    position: fixed;
    z-index: 2;
    background: rgba(32, 35, 41, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.ChangeAlert-info {
    margin-top: 60vh;
    background-color: rgb(51, 47, 47);
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.ChangeAlert-info p {
    font-size: 2rem;
    color: white;
}

.ChangeAlert-info button{
    background-color: #F9696A;
    color: #FBFAFF;
    cursor: pointer;

    border-radius: 5px;
    font-size: 1.4rem;
    padding: 10px;
}

