.TaskCounter-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
    
}

.TaskCounter-title {
    color: #6B60E1;
    font-size: 2.7rem;
}