.TaskSearch-container {
    list-style: none;
    
    

    margin: 0 auto;
    padding: 0% 10%;
    padding-bottom: 5%;
    
}

.TaskSearch-container input, button {
    height: 35px;
    border: 1px solid transparent;
}

.TaskSearch-container input {
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.TaskSearch-container input:focus {
    outline-color: #F9696A;
}


.TaskSearch-container input:disabled {
    display: none;
}


.TaskSearch-container button {
    background-color: #F9696A;
    color: #FBFAFF;
    cursor: pointer;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.TaskSearch-container .disable {
    opacity: 25%;
    background-color: #F9696A;

}
